body{
    margin:0 auto;
    background-image: url(images/airplane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.flight-info {
	align-content: center;
    margin-top:3em;
}

.flight-info h1{
    text-align: center;
    color:white;
    font-size: 10vh;
    margin-bottom: 0;
}
.form-holder{
    width:50vw;
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius:1em;
    padding:1vw;
    margin-bottom: 20vh;
    font-size:1.5vw;
}

input,select, #submit-flight-info{
    border-radius:1em; 
    border-style:none;
    margin:auto 0;
    height:60%;
    margin-right:1em;
    text-align: center;
    font-size:2vw;
}
select{
    width:50%;
    padding-left:7vw;
}
#dep-time, #arr-time{padding-right:1em;}

.flight-info h3{
    text-align: center;
}
.mode_one p{
    text-align: right;
    margin-right:1vw;
}

#passenger-info{
    display:grid;
    grid-template-columns:4fr 10fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'passenger-title passenger-title'
                         'one first'
                         'two last'
                         'three email'
                         'four age'
                         'five gender';
}
#flight{
    display:grid;
    grid-template-columns:4fr 10fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:'flight-title flight-title'
                         'six fnum'
                         'seven dep-t'
                         'eight arr-t'
                         'nine dep-c'
                         'ten arr-c'
                         'submit submit';
}
#passenger-title{grid-area: passenger-title;}
#first-name{grid-area:first;}
#last-name{grid-area:last;}
#email{grid-area:email;}
#age{grid-area:age;}
#gender{grid-area:gender;}
#one{grid-area:one;}
#two{grid-area:two;}
#three{grid-area:three;}
#four{grid-area:four;}
#five{grid-area:five;}
#flight-title{grid-area:flight-title}
#flight-num{grid-area:fnum;}
#dep-time{grid-area:dep-t;}
#arr-time{grid-area:arr-t;}
#dep-port{grid-area:dep-p;}
#dep-port-code{grid-area:dep-c;}
#arr-port{grid-area:arr-p;}
#arr-port-code{grid-area:arr-c;}
#six{grid-area:six;}
#seven{grid-area:seven;}
#eight{grid-area:eight;}
#nine{grid-area:nine;}
#ten{grid-area:ten;}



#submit-flight-info{
    grid-area:submit;
}
button{
    background-color: red;
    color:white;
    font-size:3vw;
    margin:0 auto;
    width:100%;
    border-radius: 2em;
    box-shadow: 2px 5px rgba(0,0,0,0.85);
    margin-bottom: 1em;
}
button:hover{
    background-color: coral;
    box-shadow: 2px 5px rgba(0,0,0,0.55);
}




/*mode two*/
.review-flight-info{
    display:grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 70vh 50vh;
    grid-template-areas:'passenger map'
                        'flight_information flight_information';
}

#passenger{grid-area:passenger;}
#flight_information{grid-area: flight_information;}
#map{grid-area:map;}
.mode_two h1{
    text-align: center;
    color:white;
    font-size: 10vh;
    margin-bottom: 0;
}
.mode_two h3{
    text-align: center;
    font-size: 7vh;
    border-bottom-style: solid;
    margin-bottom:0;
}

#passenger, #flight_information{
    width:90%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius:1em;
    padding:1vw;
    margin:auto auto;
}
.mode_two p{display:inline-block;}
.left{text-align: right;}
.right{text-align: left;margin-left:1em;}

#p-title{grid-area:p-title;}
#f-title{grid-area:f-title;}
#a{grid-area:a;}
#b{grid-area:b;}
#c{grid-area:c;}
#d{grid-area:d;}
#e{grid-area:e;}
#g{grid-area:g;}
#h{grid-area:h;}
#i{grid-area:i;}
#j{grid-area:j;}
#k{grid-area:k;}
#review-passenger-name{grid-area:aa;}
#review-age{grid-area:bb;}
#review-gender{grid-area:cc;}
#review-flight-num{grid-area:dd;}
#review-flight-id{grid-area: ee;}
#review-flight-depart-time{grid-area:ff;}
#review-departing-from{grid-area:gg;}
#review-depart-port{grid-area:hh;}
#review-flight-arrive-time{grid-area:ii;}
#review-arriving-in{grid-area:jj;}
#review-arrive-port{grid-area:kk;}

#passenger{
    font-size:4vh;
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows: 30vh 10vh 10vh 10vh;
    grid-template-areas:'p-title p-title'
                        'a aa'
                        'b bb'
                        'c cc';
}


#flight_information{
    font-size:4.5vh;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20vh 10vh 10vh 10vh 15vh 15vh 10vh 15vh 15vh;
    grid-template-areas:'f-title f-title'
                        'd dd'
                        'e ee'
                        'f ff'
                        'g gg'
                        'h hh'
                        'i ii'
                        'j jj'
                        'k kk';
}

@media (max-width:900px){
    /*mode one*/
    .form-holder{width:80%;}
    .body{width:100%;}
    .flight-info h1{
        font-size:9vh;
    }
    .form-holder{font-size:2vh;}
    input,select,#submit-flight-info{
        font-size:2vh;
    }
    
    /*mode two*/
    .review-flight-info{
    
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1em;
    grid-template-areas:'passenger'
                        'map'
                        'flight_information';
}
    #flight_information{
        font-size:4vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
    }
    
}
@media(max-width:500px){
    #passenger{
        font-size:3vh;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto auto
    }
    #passenger h3{
        font-size:5vh;
    }
    #flight_information{
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
    }
}